/* light style */
/* GTK NAMED COLORS */
/*
@define-color accent_bg_color #6CB6FF;
@define-color accent_fg_color white;
@define-color accent_color #6CB6FF;
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color white;
@define-color destructive_color @red_4;
@define-color success_bg_color @green_4;
@define-color success_fg_color white;
@define-color success_color #1b8553;
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;
@define-color error_bg_color @red_3;
@define-color error_fg_color white;
@define-color error_color @red_4;
@define-color window_bg_color #CECECE;
@define-color window_fg_color #000000;
@define-color view_bg_color #ffffff;
@define-color view_fg_color #000000;

@define-color headerbar_bg_color #CECECE;
@define-color headerbar_fg_color #000000;
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.12);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.12);

@define-color sidebar_bg_color #484848;
@define-color sidebar_fg_color #ffffff;
@define-color sidebar_backdrop_color#484848;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_border_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color #f3f3f3;
@define-color secondary_sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color secondary_sidebar_backdrop_color #484848;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color #E5E5E5;
@define-color card_fg_color #000000;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color dialog_bg_color #cecece;
@define-color dialog_fg_color #000000;

@define-color popover_bg_color #cecece;
@define-color popover_fg_color #000000;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);

@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color white;
*/


/* personal colors */
@define-color my_white_fg_color #ffffff;
@define-color my_black_fg_color #000000;
@define-color my_window_bg_color #CECECE;
@define-color my_sidebar_bg_color #484848;
@define-color my_light_bg_color #E5E5E5;
@define-color my_border_color #4E9F5C;
@define-color my_nautilus_grid_hover_cell #BDBDBD;
@define-color my_nautilus_list_hover_cell #b5c7da;
@define-color my_nautilus_list_row_odd #D9D9D9;
@define-color my_nautilus_list_row_even #F0F0F0;

/* custom colours */
/* window */
@define-color window_bg_color @my_window_bg_color;
@define-color window_fg_color @my_black_fg_color;
/* view - maybe redundant*/
@define-color view_bg_color @my_window_bg_color;
@define-color view_fg_color @my_black_fg_color;
/* headbar */
@define-color headerbar_bg_color @my_window_bg_color;
@define-color headerbar_fg_color @my_black_fg_color;
/* sidebar title */
@define-color sidebar_bg_color @my_sidebar_bg_color;
@define-color sidebar_fg_color @my_white_fg_color;
/* sidebar title unfocused */
@define-color sidebar_backdrop_color @my_sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @my_sidebar_bg_color;
/* others */
@define-color card_bg_color @my_light_bg_color;
@define-color card_fg_color @my_black_fg_color;
@define-color dialog_bg_color @my_window_bg_color;
@define-color dialog_fg_color @my_black_fg_color;
@define-color popover_bg_color @my_window_bg_color;
@define-color popover_fg_color @my_black_fg_color;


/**/
popover.background > contents {border: 1px solid @my_border_color;}

/* window border colour and border width */
/* box-shadow: 0 3px 9px 1px #0000ffaa; */
window {
    background-color: @my_window_bg_color;
    color: @my_black_fg_color;
    border: 1px solid @my_border_color;
    }
decoration {
    border: 1px solid @my_border_color;
    } 

/* sidebar background: nautilus and control center and others */
.navigation-sidebar {
    background-color: @my_sidebar_bg_color;
    }
/* nautilus sidebar rows and control center and others */
.navigation-sidebar row {
    background-color: @my_sidebar_bg_color;
    color: @my_white_fg_color;
    }
/* nautilus sidebar separators */
.navigation-sidebar>separator {
    background-color: @my_window_bg_color;
}

/* nautilus icon view background */
.nautilus-grid-view {
    background-color: @my_window_bg_color;
    color: @my_black_fg_color;
    }
/* nautilus each cell background 
#NautilusViewCell {background-color: red;} */
/* nautilus grid view hovering over a cell 
#NautilusViewCell:hover not :selected {background-color: @my_nautilus_grid_hover_cell;}  */
/* nautilus icon view hovering over a cell */
.nautilus-grid-view #NautilusViewCell:hover not :selected {background-color: @my_nautilus_grid_hover_cell;}

/* nautilus list view 
.nautilus-list-view {background-color: yellow;} */
/* nautilus list view cell selected */
.nautilus-list-view :selected {background-color: @my_nautilus_list_hover_cell;}
/* nautilus list view cell hovered
.nautilus-list-view #NautilusViewCell:hover {background-color: @my_nautilus_list_hover_cell;} */
/* nautilus list view cell alternate colours
.nautilus-list-view row:nth-child(2n+1) {
    background-color: @my_nautilus_list_row_odd;
    }
.nautilus-list-view row:nth-child(2n) {
    background-color: @my_nautilus_list_row_even;
    } */

/* list and row: white parts of dialogs and others and nautilus sideview */
list not .nautilus-list-view {
    background-color: @my_light_bg_color;
    color: @my_black_fg_color;
    }
list:selected {
    background-color: @my_window_bg_color;
    color: @my_black_fg_color;
    }
row not .nautilus-list-view {
    background-color: @my_light_bg_color;
    color: @my_black_fg_color;
    }
row:selected {
    background-color: @my_window_bg_color;
    color: @my_black_fg_color;
    }

row:hover {
    background-color: #797979;
    color: @my_white_fg_color;
    }
    
row:selected:hover {
    background-color: @my_window_bg_color;
    color: @my_black_fg_color;
    }
    
treeview {
    background-color: @my_light_bg_color;
    color: @my_black_fg_color;
    }
treeview.view:selected {
    background-color: @my_nautilus_list_hover_cell;
    color: @my_black_fg_color;
    }
listview.view {
    background-color: @my_light_bg_color;
    color: @my_black_fg_color;
    }
listview.view:selected {
    background-color: @my_nautilus_list_hover_cell;
    color: @my_black_fg_color;
    }
/* the followng affect both nautilus list view and combo row
listview row:nth-child(2n+1) {
    background-color: @my_nautilus_list_row_odd;
    }
listview row:nth-child(2n) {
    background-color: @my_nautilus_list_row_even;
    } */

gridview.view not .nautilus-grid-view {
    background-color: @my_light_bg_color;
    color: @my_black_fg_color;
    }

/*
#panel { height: 42px;}
*/

/*
headerbar {
    margin: 0 1em 0 1em;
    padding: 0;
    border-width: 0px;
    font-size: 6pt;
    min-height: 0px;
}

headerbar * {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    min-height: 0px;
}

headerbar box {
    padding: 0.1em 0.5em 0.1em 0.5em;
}
*/


