/* screenshot dialog */
.screenshot-ui-panel {border: 1px; border-style: solid; border-color: #1E90FF;}

/* OSD - eg. volume */
.osd-window { border: 1px; border-style: solid; border-color: #1E90FF;}

/* Password or Authentication Dialog */
.prompt-dialog {border: 1px; border-style: solid; border-color: #1E90FF;}

/* Polkit Dialog */
.polkit-dialog {border: 1px; border-style: solid; border-color: #1E90FF;}

/* Run Dialog  OK */
.run-dialog {border: 1px; border-style: solid; border-color: #1E90FF;}

.popup-menu-content, /* popover content */
.candidate-popup-content { /* datemenu, quick settings... */
    border: 1px; 
	  border-style: solid;
    border-color: #1E90FF;
}

